 body {
  font-family: "PT Sans", "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Poiret One", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}

#post_name {
        color: white;
        font-size: 20px;
        font-style: normal;
    }

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {


    .dropdown {
        color: whitesmoke;
    }

    .login {
        color: whitesmoke;
        font-size: 20px;
        text-align: left;
    }
    .btn {
        border-color: whitesmoke;
        background-color: transparent;

    }

    .glyphicon {
        color: whitesmoke;
        font-size: medium;
    }

    #logout {
        position: static;
        color: #333333;
    }



    .post {
        margin-bottom: 70px;
        margin-top: 70px;
    }

    .post h1 a, .post h1 a:visited {
        color: #000000;
        text-decoration: none;
    }


/*
 * Masthead for nav
 */

.blog-masthead {
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 40px;
  font-weight: 500;
  color: whitesmoke;
    font-size: 2rem;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
    font-style: inherit;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
    font-weight: 800;
    font-size: xx-large;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
    //margin-right: 0rem;
  vertical-align: middle;
  content: " ";
  border-right: 10px solid transparent;
  border-bottom: 10px solid;
  border-left: 10px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
    color: whitesmoke;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.login_container {
    color: white;
}






