{% load staticfiles %}
<html>

<style>
        body {
            background-image: url(http://uploadme.ru/images/2016/03/13/mountains.jpg);
            background-size: cover;
            background-repeat: no-repeat;
    </style>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
      <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <link rel="icon" href="../../favicon.ico">


    <title>Cover Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

<!-- Custom styles for this template -->
    <link href="login.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>

    <title>Signin</title>

          <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">


          </div>
          <div class="inner_cover">
            <h1 class="cover-heading">FamiTr!p</h1>
              <style>
                p {
                    padding: 0 90px;
                }
            </style>
            <p class="lead">Create your own trip diary and share it with the world!</p>
      <!--<form class="form-signin">-->
        <style>

            .container {
                width: 29rem;
                color: white;
            }
        </style>

        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}



            <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Log in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus {{ form.username }}
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required {{ form.password }}
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
          </form>
        <table class="sign_in">
            <tr>
                <td>
                    <button type="submit" class="btn">Log In</button>
                </td>
                <td width=50%></td>
                <td><font size="3" color="#ffebcd">or  </font></td>
                <td width=2%></td>
                <td>
                     <a href="{% url 'registration' %}" class="btn btn-default" role="button">
                    Sign Up!</a>
                </td>
            </tr>
        </table>

    </div> <!-- /container -->
    <input type="hidden" name="next" value="{{ next }}" />
    </form>

        {% if form.errors %}
            <style>
                #error {
                    color: #fcdfbc;
                    font-family: 'Poiret One';
                }

            </style>
        <p id="error">Your username and password didn't match. Please try again.</p>
    {% endif %}


    </div>
            </p>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>




