{% extends 'blog/base.html' %}

{% block content %}

<table>
        <tr>
            <td>
                <h1>New comment</h1>
            </td>
        </tr>
    </table>
     <div class="panel panel-default">
         <style>
            form {
                color: #801323;
                font-family: Calligraffitti, cursive;
                font-size: 20px;

            }

        </style>
      <div class="panel-body" id="form">

        <form method="POST" class="post-form">
            {{ text.text | safe}}
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Send</button>
        </form>

      </div>
    </div>

{% endblock %}