{% extends 'blog/base_my_diary.html' %}

{% block content %}
    <div class="post">

        {% if post.published_date %}
            {{ post.published_date }}
        {% else %}
            <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish!</a>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p>{{ post.text|safe }}</p>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"  style="color: maroon"></span></a>
    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"  style="color: maroon"></span></a>


    </div>

    {% if post.published_date %}
<hr>

    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
        <style>
        #halo {
            color: maroon;
        }
        </style>
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove" style="color: maroon"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok" style="color: maroon"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>Be the first to comment this!</p>
{% endfor %}        {% endif %}

{% endblock %}