{% extends 'blog/base_my_diary.html' %}
{% load el_pagination_tags %}

{% block content %}

    <div class="blog-header">
        <h1> </h1>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

        {% paginate 3 posts %}
             {% for post in user_posts %}
                    <div class="row">
                      <div class="col-sm-14 col-md-12">
                        <div class="thumbnail">
                          <img src="https://c9905acc1d7b5a526f7c-ece02171884dce8c4b3a1e6d28a03a59.ssl.cf1.rackcdn.com/assets/themes/journeys/size_3_surf-wave-surfing-bd989e0c0827cbb27322a7f0991a490d.jpg"/>
                          <div class="caption">

                            <h1><a id="post_name" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <p>{{ post.text|safe|linebreaks }}</p>

                            <p><a href="{% url 'blog.views.post_detail' pk=post.pk %}" class="btn btn-default" role="button">
                                View comments {{ post.approved_comments.count }}</a>
                            </p>
                              <p>{{ post.published_date }}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endfor %}
                {%  show_pages %}


        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            <style>
                .sidebar-module {
                    background-image: url(http://uploadme.ru/images/2016/03/13/mountains.jpg);
                }
            </style>
            <div class="sidebar-module sidebar-module-inset">

            </div>

            <div class="sidebar-module sidebar-module-inset">
            <h4>KeepTr!p! </h4>
            <p>Create your own trip diary and share it with the world!</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
                {% for post in posts %}
                <li><a id="post_name" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></li>
                {% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->


    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock content %}
