{% extends 'blog/base_create.html' %}

{% block content %}

    <table>
        <tr>
            <td>
                <h1>Edit post</h1>
            </td>
            <td>
                <img src="http://uploadme.ru/images/2016/03/13/photocam.png" width="200" height="130" alt="photocam.png" border="0">
            </td>
        </tr>
    </table>
     <div class="panel panel-default">
         <style>
            form {
                color: #801323;
                font-family: Calligraffitti, cursive;
                font-size: 20px;

            }

        </style>
      <div class="panel-body" id="form">

        <form method="POST" class="post-form">
            {{ text.text | safe}}
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>

      </div>
    </div>




{% endblock %}