{% load staticfiles %}

<html>
  <head>

      <title>FamiTrip</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KeepTr!p</title>

    <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

  </head>

  <body>
    <style>
        .blog-nav-item {
            padding-top: 5px;

        }
        .navbar {
            background-image: url(http://uploadme.ru/images/2016/03/13/mountains.jpg);

        }
    </style>

    <div class="container-fluid">
      <div class="column">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              <li><a href="{% url 'profile' %}">My Profile <span class="sr-only">(current)</span></a></li>
              <li class="active"><a href="#">My Diary<span class="sr-only"></span></a></li>
          </ul>

      </div>
      <div class="column">
      <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">

          <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item" href="{%  url 'post_list' %}">Trips</a>
          <a class="blog-nav-item" href="#">My diary</a>
          <a class="blog-nav-item" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-pencil"></span>Create</a>
          <a class="blog-nav-item" href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span>Drafts</a>

    <div class="blog-nav-item">

                <button class="btn btn-default" type="button"><a href="#"><strong>{{ user.username }}</strong></a></button>

            </div>

          <a class="blog-nav-item" id="logout" href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
        </nav>
      </div>
    </div>
        </nav>
        </div>

      </div>
    </nav>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> Here are your posts!</h1>

          <h2 class="sub-header">My diary</h2>
            <ul class="list-group">
                {%  for post in user_posts %}
              <li class="list-group-item">
                <p><span class="label label-default label-pill pull-xs-right">{{ post.comments.count }} comments</span></p>
                               <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

               <p><a href="{% url 'blog.views.post_detail' pk=post.pk %}" class="btn btn-default" role="button">
                    View comments {{ post.approved_comments.count }}</a>
                </p>
                  <p>{{ post.published_date }}</p>
              </li>
                {%  endfor %}
            </ul>
            </div>

          </div>
        </div>
      </div>

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>

