<!--
<html>
    <head>
        <title>FamiTrip</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="mini_page_header">
                <table class="mini_in_header">
                    <tr>
                        <td><a id="logo" href="/"><img src="http://uploadme.ru/images/2016/03/13/logo7.png" width="50" height="50" alt="logo3.png" border="0"></a></td>
                        <td><a class="top-menu", href="/"><strong>Trips</strong></a></td>
                        <td width="750">My trip diary</td>
                        <td><strong><a href="{% url 'post_new' %}" class="top-menu"></strong><span class="glyphicon glyphicon-pencil"></span>Create</a></td>
                        <td><a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span>Drafts</a></td>
                        <td class="dropdown" width="170">
                            <button class="btn" type="button" data-toggle="dropdown">{{ user.username }}</button>
                            <ul class="dropdown-menu">
                                <li><a href="/">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </td>
                        <td><p class="top-menu"><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></p></td>
                    </tr>
                </table>

        </div>

        <div class="content container">
            <div>
                <div>

                </div>
            </div>
        </div>
    </body>
</html>-->




{% load staticfiles %}

<html>
  <head>

      <title>FamiTrip</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>KeepTr!p</title>

    <!-- Bootstrap core CSS -->
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

  </head>

  <body>
    <style>
        .navbar {
            background-image: url(http://uploadme.ru/images/2016/03/13/mountains.jpg);

        }
        .blog-nav-item {
            padding-top: 5px;

        }
    </style>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <nav class="blog-nav">
          <a class="blog-nav-item" href="{% url 'post_list' %}"><strong>Trips</strong></a>
          <a class="blog-nav-item" href="#">My diary</a>
          <a class="blog-nav-item" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-pencil"></span>Create</a>
          <a class="blog-nav-item" href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span>Drafts</a>

    <div class="blog-nav-item">

                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <strong>{{ user.username }}</strong></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="#">Settings</a></li>
                </ul>
            </div>
          <a class="blog-nav-item" id="logout" href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
        </nav>
        </div>

      </div>
    </nav>

    <div class="container-fluid">

        <div>
            {% block content %}
            {% endblock %}
        </div>
    </div>

   <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>


</body>
</html>
